@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E2939;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E2939;
    --foreground: #ededed;
  }
}

@theme {
  --font-sans: 'Noto Sans Thai', sans-serif;
  --font-noto: 'Noto Sans Thai', sans-serif;
  --font-noto-looped: 'Noto Sans Thai Looped', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.ant-timeline-item-content {
  @apply font-sans text-base text-black dark:text-white;
}

.ant-timeline-item-tail {
  @apply bg-gray-200 dark:bg-gray-700;
}